.container {
  width: 440px;
  padding: 30px;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 5px 80px -24px rgba(0, 0, 0, 0.3);
}

.headerInfo > h1 {
  font-weight: 600;
  margin-bottom: 15px;
  font-size: 1.8rem;
}

.headerInfo > p {
  color: #959da7;
  font-size: 1.3rem;
  line-height: 1.4;
}

.paymentDetailsHeader {
  font-size: 1.4rem;
  margin: 25px 0 25px 0;
  font-weight: 600;
}

.addPaymentButton {
  display: flex;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  text-transform: uppercase;
  font-size: 1.1rem;
  letter-spacing: 1px;
  color: #436cff;
  font-weight: 600;
  margin: 20px 0 30px 0;
}

.emailAddress {
  display: flex;
  width: 100%;
  padding: 15px 15px;
  border-radius: 3px;
  border: 1px solid #dfe7f1;
  font-size: 1.2rem;
  outline: none;
  letter-spacing: 0.2px;
}

.emailAddress::placeholder {
  color: #a8b1bc;
}

.emailAddress:focus {
  border: 1px solid #7191fe;
  color: #323334;
}

.proceedButton {
  margin-top: 25px;
  width: 100%;
  padding: 26px 0;
  background: #295cff;
  color: white;
  border: none;
  border-radius: 3px;
  font-size: 1.4rem;
  cursor: pointer;
  letter-spacing: 0.5px;
}
